.wrapper{
    display: flex;
    justify-content: space-between;
    border:2px solid red; 
    height:4.3vw;
    align-items: center;
    padding: 3% 2%;
}
.toggle{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    /* border:2px solid red; */
    height:100%;
    gap: 4px;
}
.menu{
    display: flex;
    align-items: center;
    /* border:2px solid red; */
}